.principalTitle {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;

  background: linear-gradient(90deg, #ffffff, #fdfdff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.principalSubtitle {
  font-size: 40px;
  font-weight: 500;
  color: #cccccc;
  margin-bottom: 25px;
  text-align: center;
}

.principalDescription {
  font-size: 20px;
  color: #bbbbbb;
  max-width: 700px;
  line-height: 1.6;
  text-align: center;
  margin: 0 auto 40px auto;
}

/* Botones */
.principalButtons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 500px;
  margin: 0 auto;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding: 12px 24px;
  border: 1px solid #555;
  border-radius: 14px;
  color: white;
  text-decoration: none;
  background-color: transparent;

  transition: all 0.3s ease;
  font-size: 16px;
  height: 60px;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.08);
  border-color: #aaa;
  transform: translateY(-2px);
}

/* Iconos */
.btn svg {
  font-size: 20px;
}

/* 📱 RESPONSIVE */
@media (max-width: 768px) {
  .principalTitle {
    font-size: 42px;
  }

  .principalSubtitle {
    font-size: 24px;
  }

  .principalDescription {
    font-size: 16px;
  }

  .principalButtons {
    grid-template-columns: 1fr;
  }
}
